#page__article{
  h1{
    font-size: 18px;
    text-align: center;
    font-family: 'Avenir LT Std 85 Heavy';
    padding: 20px;
    span{
      display: block;
      font-family: 'Avenir-LT-Std-45-Book';
    }
  }
  ////_____________________________________________article__mobile_____________________________________________ ////
  .article{
    height: 88vh;
    width: 95%;
    background-color: $grisprincipal;
    margin: auto;
    display: flex;
    flex-direction: column;
    .illustration img{
      max-height: 50vw;
      z-index: 0;
      margin: 4% 0% 0% 4%;
    }
    .article__texte{
      display: block;
      width: 90%;
      margin: -20px 0% 0% 20px ;
      padding: 20px;
      z-index: 1;
      background-color: white;
      margin-bottom: 20vh;
      p{
        font-size: 15px;
        line-height: 1.6;
        height: 100%;
      }
    }
    
  }
  @media screen and (min-width: 800px) {
    h1{
      font-size: 20px;
      span{
        display:initial;
      }
    }
    .article{
      width: 90%;
      .illustration .image{
        padding-left: 6vw;
        max-height: 419px;
        max-width: 565px;
        overflow: hidden;
      }
      .article__texte{
        margin: -20% 0% 0% 35%;
        max-height: 523px;
        max-width: 642px;
        margin-bottom: initial;
      }
    }
  }
}