body{
  font-size: 12px;
  padding-bottom: 60px;
}
.nav__barre nav img.active{
  transform: translateY(-140px);
}
.nav__barre{
  z-index: 2;
  width: 100%;
  position: fixed ;
  bottom: 0px;
  nav{
    z-index: 10;
    background-color: black;
    height: 52px;
    padding-top: 15px;
    img{
      transition: transform 750ms;
      display: block;
      height: 23px;
      margin: 5px auto auto auto ;
      z-index: 10 ;
    } 
    ul{
      position: absolute;
      li{
        width: 42px ;
        height: 3px ;
        background-color: white;
        margin: 5px 0px 5px 20px;
      }
    }
  }
}

.video{
  max-width: 100vw;
  max-height: 40vh;
  overflow: hidden;
  video{
    width: 100%;
    height: 100%;
  }
}


///_________________________________________homme page__________________________________________________////


.nav_hidden{
  background-color: #2B2B2B;
  z-index: auto;
  height: 203px;
  position: fixed ;
  bottom: 0px;
  width: 100% ;
  z-index: 1;
  color: white;
  font-size: 18px;
  text-align: center;
  transition: transform 1s;
  transform: translateY(203px);
  &.active{
    transform: translateY(0px);
  }
  p{
    &:nth-child(1) {
      padding-top: 35px;
    } 
    margin: 20px;
  }
}

