body{
  font-size: 12px;
  padding-bottom: 60px;
}

.nav__barre{
  display: flex;
  z-index: 2;
  width: 100%;
  position: fixed ;
  bottom: 0px;
  nav{
    width: 100%;
    z-index: 10;
    background-color: black;
    height: 52px;
    padding-top: 15px;
    img{
      transition: transform 500ms;
      display: block;
      height: 23px;
      margin: auto auto auto auto ;
      z-index: 10 ;
      transition-timing-function: linear;
      &.active{
        transform: translateY(-140px);
      }
    } 
    ul{
      position: absolute;
      li{
        width: 42px ;
        height: 3px ;
        background-color: white;
        margin: 5px 0px 5px 20px;
      }
    }
  }
  
  .nav_hidden{
    background-color: #2B2B2B;
    position: fixed ;
    bottom: 0px;
    width: 100% ;
    z-index: 1;
    color: white;
    font-size: 18px;
    text-align: center;
    transition: transform 500ms;
    transform: translateY(67px);
    transition-timing-function: linear;
    font-family: Avenir-LT-Std-45-Book ;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 109px;
    padding-top: 22px;

    &.active{
      transform: translateY(-67px);
    }
    a{
      display: contents;
    }
  }
  ////_____________________________________________version desktop _____________________________________________ ////
  
  @media screen and (min-width: 1100px) { 
    position: sticky ;
    top: 0px;
    flex-direction: row;
    background-color: black;
    height: 62px;
    justify-content: space-evenly;
    width: 30%;
    padding: 0% 35% 0% 35%;
    margin: auto;
    nav{
      background-color: transparent;
      width: auto;
      padding-top: initial; 
      display: block;
      height: 17px;
      margin: auto 0px auto 0px;
      img{
        height: 17px;
        &.active{
          transform: translateY(-0px);
        }
      }
      ul{
        display: none;
      }
    }
    .nav_hidden{
      /// rest property of nav hidden
      transition: initial;
      background-color: initial;
      top: initial;
      padding-left: initial;
      width: initial;
      
      
      display: contents;
      transform: translateY(-0px);
      position: relative;
      padding-top: 17px;
      
      &.active{
        transform: translateY(0px);
      }
      
      p:nth-child(1){
        padding-top: 0px;
      }p{
        margin: auto 0px auto 0px;
      }
    }
  }
}






