////_____________________________________________ _____________________________________________ ////
#home_page{
  
  ////_____________________________________________produit_____________________________________________ ////
  .produit{
    padding-top: 30px;
    background-color: #F4F4F4;
    text-align: center;
    margin-top: 10px;
    height: 577px;
    width: 98%;
    background-color: $grisprincipal ;
    text-align: center;
    overflow: hidden;
    h2{
      font-size: 18px;
      padding-top: 30px; 
    }p{
      padding-top: 20px;
    }
    button{
      font-weight: 100;
      color: white;
      font-size: 22px;
      height: 42px;
      width:  199px;
      display: block;
      margin: auto;
      background-color: #181818;
      margin-top: 40px;
      border: none;
    }
    &.article--black{
      color: white;
      background-color: black;
    }  img{
      margin-left: 4%;
      width: 214px;
      padding-top: 120px;
    }
  }
  
  article {
   margin-top: 30px;
    background-color: $darkgris;
    h2{
      font-size:  30px;
      padding-top: 10px;
      text-align: center;
    }
    .new{
      position: relative;
      display: block;
      text-align: center;
      width: 90%;
      margin: auto;
      color: white;
      background-image: url(../assets/image/armani-montres-shawn-850x1024/armani-montres-shawn-850x1024.png) ;
      height: 95vw;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      margin-top: 30px;
      h3{
        font-size:  17px;
        padding-top: 20px;
      }
      p{
        padding-top: 25%;
        font-size: 18px;
      }
    }
    button.read__next{
      margin-top: 15%;
      font-weight: 100;
      height: 42px;
      width:  199px;
      background-color: #181818;
      border: none;
      color: white;
      font-size: 22px;
    }  
  }
  
}

