#page__produit{
  text-align: center;
  .title{
    h1{
      font-size: 30px;
      padding-top: 20px;
      padding-bottom: 15px;
    }h2{
      font-size: 18px;
    }h3{
      padding-top: 5px;
      padding-bottom: 10px;
      font-size: 16px;
    }
  }
  
  .picture{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 98%;
    margin: auto;
    height: 350px;;
    background: $grisprincipal;
    img{
      max-width: 226px;
      max-height: 187px;
      display: none;
      margin: auto auto auto auto;
      &.active{
        display: initial;
      }
    }
  }
  
  .squares{
    display: flex;
    width: 200px;
    margin: auto;
    justify-content: space-evenly;
    section{
      transform: translateY(-45px);
      width: 24px;
      height: 24px;
      background-color: #626262;
      &.active{
        background-color: black;
      }
    }
  }
  
  .text__description{
    height: 30vh;
    overflow: hidden;
    p{
      font-size: 16px;
      line-height: 1.80;
      width: 80vw;
      margin: auto;
      &.prix{
        padding: 10px 0px 10px 0px;
      }
    }
    
    &.active{
      height: 100%;
    }
  }
  
  .read__next{
    font-size: 18px;
    &:before {
      content: "  ";
      width: 30vw;
      height: 2px;
      display: block;
      margin: 10px auto 5px auto; 
      background-color: black;
    }
  }
  
  
  
  .detailles{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    padding-top: 20px;
    margin: auto;
    .detaille{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      width: 140px;
      height: 140px;
      background-color: #F4F4F4;
      p{
        font-size: 16px;
      }
      .color__gold{
        background-color: #FFD700;
        width: 32px;
        height: 32px;
        border-radius: 100%;
      }
    }
  }
  h4.like__more{
    padding-top: 20px;
    font-size: 18px;
  }
  
  .produits{
    .produit{
      padding-top: 30px;
      text-align: center;
      margin-top: 10px;
      height: 500px;
      background-color: $grisprincipal ;
      overflow: hidden;
      position: relative;
      
      &.produit--black{
        color: white;
        background-color: black;
        right: 0px;
      }
      
      h2{
        font-size: 18px;
        padding-top: 30px; 
        font-family: 'Avenir LT Std 85 Heavy';
        span{
          display: block;
        }
      }p{
        padding-top: 20px;
        font-size: 14px;
        font-family: 'Avenir-LT-Std-45-Book';
      }
      button{
        font-weight: 100;
        color: white;
        font-size: 22px;
        height: 42px;
        width:  199px;
        display: block;
        margin: auto;
        background-color: #181818;
        margin-top: 40px;
        border: none;
      }
      img{
        width: 214px;
        padding-top: 60px;
      }
    }
    
    ////_____________________________________________produit--tablet_____________________________________________ ////
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-evenly;
      padding-top: 30px;
      .produit{
        width: 48vw;
        h2{
          font-size: 30px;
          padding-top: 30px;
          span{
            display: initial;
          } 
        }p{
          padding-top: 20px;
          font-size: 26px;
        }
        img{
          width: 214px;
          padding-top: 18px;
          // for center the image 
          padding-left: 10px;
        }
      }
      ////_____________________________________________produit--desktop_____________________________________________ ////
      @media screen and (min-width: 1100px) {
        img{
          padding-top: 70px;
        }
      }
    }
  }
}